body {
    width: 100%;    
    background-color: rgb(255, 255, 255);
    color: #000000;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outer-main {
    width: 100%;
    background-color: #1c2028;
    display: flex;
    align-items: center;
    padding-top: 50px;
    margin: -100px 0 0 0 ;
    height: 100vh;
}

.inner-main {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px; /* Reduced gap */
    align-items: center;
    flex-wrap: wrap;
    
}
.main-content .content {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: flex-start; 
    flex: 1 1 35%; /* Allow this to shrink or grow */
    gap: 10px; 
    text-align: left;
}

.main-content .content h3 {
    font-size: clamp(30px, 4vw, 45px);
    font-weight: bold; 
    font-family: inherit;
    line-height: 1.2;
    margin: 0 0 ;
    color: white; 
}

.main-content .content p {
    font-size: 1rem; 
    line-height: 1.5; 
    color: white; 
}
.main-content .content-image {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1 1 60%; /* Allow this to shrink or grow */
    height: 100vh;

}
/* .content-image {
    background-image: url('/image/Abstract Background Depop Profile Picture (14).png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    filter: grayscale(100%);
    width: 100%;
  } */
.content-image img {
    width: clamp(430px, 30vw, 900px);
    height: auto; 
    object-fit: cover; 
}
