body {
    width: 100%;    
    background-color: rgb(255, 255, 255);
    color: #000000;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outer-main {
    width: 100%;
    /* background: linear-gradient(90deg, #1c2028 65%, #80ff00 40%); */
    background-color: #1c2028;
    display: flex;
    align-items: center;
    padding: 50px 0 0 0;
    margin: -100px 0 0 0 ;
    height: 550px;
}

.inner-main {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5%; /* Reduced gap */
    align-items: center;
    flex-wrap: wrap;
    
}
.main-content .content {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: flex-start; 
    flex: 1 1 50%; /* Allow this to shrink or grow */
    gap: 10px; 
    text-align: left;
}

.main-content .content h3 {
    font-size: 3rem; 
    font-weight: bold; 
    font-family: inherit;
    line-height: 1.2;
    margin: 0 0 ;
    width: 400px;
    color: white; 
}

.main-content .content p {
    font-size: 1rem; 
    line-height: 1.5; 
    color: white; 
}
.main-content .content-image {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1 1 40%; /* Allow this to shrink or grow */
}

.content-image img {
    width: 100%;
    height: auto; 
    max-width: 500px;
    object-fit: cover; 
}
