body{
    font-family: urbanist;
    background-color: rgb(255, 255, 255);
    color: #000000;
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
.contact-section{
    width: 100%;
    padding: 100px 0;
    margin: 0;
    background-color: #2a3038;   
}
.form-content {
    width: 90%;
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.contact-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: 20px;
}
.contact-me h3 {
    font-size: clamp(30px, 4vw, 15px);
    font-family: "Nanum Gothic Coding", monospace;
    color: white;
    padding: 0;
    margin: 0;
}
.text1 {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 15px;
}
.custom-hr2 {
    flex-shrink: 0;
    margin-top: 10px;
    justify-content: flex-start;
    width: 100px;
    height: 2px;
    background-color: #99ff33;
    border: none;
}
.text1 p {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: white;
}
.text1 p strong{
    color: #99ff33;
    font-weight: 400;
}
.form-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

.p-col1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
    margin-bottom: 30px;
}
.p-col1 .col{
    flex: 1;
    width: 100%;
    min-width: 200px;
    display: flex;
    flex-direction: column;
}
label {
    margin-bottom: 10px;
    font-weight: bold;
    font-family: "Nanum Gothic Coding", monospace;
    color: white;
}
input {
    padding: 10px;
    color: #99ff33;
    border: 1px solid #99ff33;
    font-size: 14px;
    background-color: transparent;
}
input:focus {
    border-bottom: 2px solid #99ff33;
    outline: none;
}
input::placeholder{
    font-family: "Nanum Gothic Coding", monospace;
    font-size: 0.8rem;
    font-weight: 400;
    color: rgb(214, 214, 214);
}
textarea {
    padding: 10px;
    color: #99ff33;
    height: 140px;
    border: 1px solid #99ff33;
    font-size: 14px;
    background-color: transparent;
}
textarea:focus {
    border-bottom: 2px solid #99ff33;
    outline: none;
}
textarea::placeholder{
    font-family: "Nanum Gothic Coding", monospace;
    line-height: 1.4;
    font-size: 0.8rem;
    font-weight: 400;
    color: rgb(214, 214, 214);
}
.form-submit{
    display: flex;
    justify-content: center;
}
.submit-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 300;
    color: #99ff33; 
    background-color: transparent;
    border: 1px solid #99ff33; 
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.8s ease; 
}
.submit-button svg{
    fill: #99ff33; 
    transition: all 0.3s ease; 
}
.submit-button:hover {
    background-color: #99ff33; 
    color: #000;
    border: 1px solid #99ff33;
    font-weight: 600;
}
.submit-button:hover svg {
    fill: #000; 
    transform: rotate(360deg); 
}
