body {
  width: 100%;
  font-family: urbanist;
  background-color: rgb(255, 255, 255);
  color: #000000;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* menu icon */
.menu-icon svg {
  fill: #1c2028;
  background-color: #80ff00;
  padding: 9px;
  border: 1px solid #80ff00;
  border-radius: 100px;
  width: 30px;
  height: 30px;
  transition: transform 0.5s ease, background-color 0.5s ease;
}
.menu-icon svg:hover {
  transform: rotate(360deg) scale(1.1);
}

/* menu close icon */
.menu-close-icon {
  cursor: pointer;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: -67px;
  margin-top: 30px;
} 
 .menu-close-icon svg {
  fill: #80ff00;
  padding: 9px;
  width: 30px;
  height: 30px;
  background-color: #1c2028;
  border: 1px solid #80ff00;
  border-radius: 100px;
  width: 20px;
  height: 20px;
  transition: transform 0.5s ease, background-color 0.5s ease;
} 

 .menu-close-icon svg:hover {
  transform: rotate(360deg) scale(1);
}

/* side menu logo */
.logo-menu-box {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 0px 15px;
}
.logo-menu-box img {
  width: 95px;
  height: 35px;
} 

.social-icons svg {
  fill: #80ff00;
  padding: 5px;
  border-radius: 100px;
  width: 20px;
  height: 20px;
  transition: transform 0.5s ease, background-color 0.5s ease;
}

.social-icons svg:hover {
  transform: rotate(360deg) scale(1.1);
}