body {
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: #000000;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about-services-section {
    width: 100%;
    background-color: #2a3038;
    display: flex;
    margin: 0;
    padding: 40px 0;
    align-items: center;
    position: relative;
    z-index: 90; /* Lower than the upper section */
}

.inner-section {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0;
}

.about {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 20px;
}
/* about me  */
.about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}

.about-me h3 {
    font-size: clamp(30px, 4vw, 15px);
    font-family: "Nanum Gothic Coding", monospace;
    margin-bottom: 10px;
    color: white;
}
.text {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    align-items: start;
    gap: 15px;
}
.custom-hr {
    margin-top: 10px;
    flex: 0 0 clamp(100px, 20%, 200px); /* Initial width scales based on viewport */
    height: 2px;
    background-color: #99ff33;
    border: none;
}
@media (max-width: 500px) {
    .custom-hr {
        position: relative;
        right: -2px;
    }
}
.text p {
    margin: 0;
    flex: 1 1 clamp(300px, 70%, 100%); /* Scales width dynamically */
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: white;
}
.text p strong{
    color: #99ff33;
    font-weight: 400;
}
.button-main{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.custom-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 400;
    color: #80ff00; 
    background-color: transparent;
    border: 1px solid #80ff00; 
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.8s ease; 
}

.custom-button svg {
    fill: #80ff00; 
    transition: all 0.3s ease; 
}

.custom-button:hover {
    background-color: #80ff00; 
    color: #000; 
    font-weight: 600;
}
.custom-button:hover svg {
    fill: #000; 
    transform: rotate(360deg); 
}

/* skill-boxes */
.about-skills {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    padding: 0;
    margin: 20px 0px 50px 0px;
}
.about-skills h5{
    font-size:clamp(30px, 4vw, 15px);
    font-family: "Nanum Gothic Coding", monospace;
    color: white;
    padding: 0;
}
.skill-icons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    gap: 25px;
}
.first-row, .second-row, .third-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 25px;
}
.first-row{
    margin: auto;
}
.second-row{
    margin: auto;
}
.third-row{
    margin: auto;
}
.html-box {
    flex: 1 1 calc(18% - 50px);
    height: 180px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
    gap: 20px;
    border-radius: 10px;
    background-color: #1c2028;
    min-width: 200px;
    box-shadow: 0 1px 2px rgba(128, 128, 128, 0.1); /* Softer, lighter shadow */
}
.wp-box{
    flex: 1 1 calc(22% - 50px);
    height: 180px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
    gap: 20px;
    border-radius: 10px;
    background-color: #1c2028;
    min-width: 200px;
    box-shadow: 0 1px 2px rgba(128, 128, 128, 0.1); /* Softer, lighter shadow */
}
.box{
    flex: 1 1 calc(22% - 50px);
    height: 180px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
    gap: 20px;
    border-radius: 10px;
    background-color: #1c2028;
    min-width: 200px;
    box-shadow: 0 1px 2px rgba(128, 128, 128, 0.1); /* Softer, lighter shadow */
}
.html-box.active-box{
    flex: 1 1 calc(18% - 50px);
    height: 180px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
    gap: 20px;
    border-radius: 10px;
    background-color: #1c2028;
    min-width: 200px;
    box-shadow: 0 1px 2px rgba(128, 128, 128, 0.1); /* Softer, lighter shadow */
}
.html-box.active-box {
    background-color: #99ff33;
}
.html-box.active-box h5{
    color: black;   
}
.wp-box:hover, .html-box:hover, .box:hover {
    background-color: #99ff33;
    transition: background 1s ease; /* Smooth transition for background */
}
.wp-box:hover h5, .html-box:hover h5, .box:hover h5 {
    color: #000000; /* Set font color to black */
    font-weight: 500;
}

.html-box h5, .wp-box h5, .box h5 {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
}
